{
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "tabWidth": 2,
  "semi": true,
  "arrowParens": "avoid"
}

// {**/*,*}.{html,css,sass,scss,less, js,ts,jsx,tsx,vue,json}
